*{
    margin: 0%;
    padding: 0%;

}
body{
  padding:0 !important;
}

.header{
    background-color: #9e95e7;
}
#intro{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    color: white !important;
}
nav-link{
    color:white;
}
#side{
    display:flex;
    justify-content: space-between;
    flex-basis: 65%;
}
.row{
    margin-bottom: 20px;
    text-align: center;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(156, 155, 238);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 15px;
    color: #36b3da;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    
    background-color: #f9f9f9;
}

#market{
     background-color: #b2abee;
     border-top-left-radius: 40px;
     border-bottom-left-radius: 40px;
     color: white;
    }
#market :focus{
    background-color: rgb(253, 253, 253);
    color: #9e95e7 !important;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

}
#bank :focus{
    background-color: rgb(255, 255, 255);
    color: #9e95e7 !important;
    border-top-right-radius: 40px;
     border-bottom-right-radius: 40px;
}
#bank {
    background-color: #b2abee;
     border-top-right-radius: 40px;
     border-bottom-right-radius: 40px;
     color: white;
}
 
*
  
  .card-title{
    font-weight: 600;

  }
.card{
  margin:0;
}


/* center container in the middle */
html {
  display: grid;
  min-height: 100%;
}

body {
  display: grid;
  font-family: sans-serif;
  text-transform: uppercase;
}

.containers {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 520px;
  height: 250px;
  background: white;
  box-shadow: 5px 5px 15px rgba(rose, .5);
  border-radius: 10px;
}

#image{
  max-width:180px;
}

input[type=file]{
padding:10px;
background:rgb(255, 255, 255);}

img {
  width: 290px;
  margin-top: 47px;
}





.product {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 60%;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: blanchedalmond;
  font-size: .7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

button {
  background: darken(wheat, 10%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  
}
button:hover {
  background: pink;
  transition: all .4s ease-in-out;
}

.add {
  width: 67%;
}

.like {
  width: 22%;
}

.sizes {
  display: grid;
  color: pink;
  grid-template-columns: repeat(auto-fill, 30px);
  width: 60%;
  grid-gap: 4px;
  margin-left: 20px;
  margin-top: 5px;
  
}

.pick {
  margin-top: 11px;
  margin-bottom:0;
  margin-left: 20px;
}

.size {
  padding: 9px;
  border: 1px solid wheat;
  font-size: 0.7em;
  text-align: center;
  
}
size :hover{
  background: pink;
  color: white;
  transition: all .4s ease-in-out;
}

.focus{
  background: rose;
  color: white;
}



.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  margin-left: 10%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #9e95e7;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #9e95e7;
  cursor: pointer;
}
#dp{
  padding-left: 30px;
  width:100px;
}
#pp{
  padding-left: 30px;
  width:200px;
}