*{
    margin: 0%;
    padding: 0%;

}

.header{
    background-color: #9e95e7;
}
#intro{
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    text-decoration: none;
    color: white !important;
}
nav-link{
    color:white;
}
#side{
    display:flex;
    justify-content: space-between;
    flex-basis: 65%;
}
.row{
    margin-bottom: 20px;
    text-align: center;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(156, 155, 238);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 15px;
    color: #36b3da;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
    background-color: #f9f9f9;
}

#market{
     background-color: #aaa6ca;
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;
     color: white;
    }
#market :hover{
    background-color: rgb(253, 253, 253);
    color: #9e95e7 !important;
}
#bank :hover{
    background-color: rgb(255, 255, 255);
    color: #9e95e7 !important;
}
#bank {
    background-color: #aaa6ca;
     border-top-right-radius: 15px;
     border-bottom-right-radius: 15px;
     color: white;
}
 